h1 {
    text-shadow: 3px 3px 5px yellow;
}

/* first number is horizontal offset, the second is vertical offset, the third is blur */

h2 {
    text-shadow: 3px 3px 5px rgb(55, 55, 206), -3px -3px -5px rgb(178, 60, 60); 
}

/* more than one color shadow */

/* this is box shadow */

#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(234, 234, 234);
    box-shadow: 3px 3px 5px black;
}